@{
    ViewBag.Title = "Kullanıcı Ekle";
    Layout = "~/Views/Shared/_MainLayout.cshtml"; 
}

<head>

    <link rel="stylesheet" href="~/Content/DataTables/Login.css" />

</head>

<div class="login-box">
    <h2>Kullanıcı Ekle</h2>

    @using (Html.BeginForm("AddUser", "addUser", FormMethod.Post))
    {
        <input type="text" name="username" placeholder="Lütfen Kullanıcı Adını Belirleyiniz." required />
        <input type="password" name="password" placeholder="Lütfen Şifre Belirleyiniz." required />
        <input type="email" name="eposta" placeholder="Lütfen E-Posta Adresi Belirleyiniz." required />
        <br />
        <div>
            <label>Rol:</label>
            @Html.DropDownList("RoleID", ViewBag.Roles as SelectList, "Rol Seçiniz")
        </div>

        <br />
        <input type="submit" value="Ekle" />
        
            <a href="/Kategori/Index">Geri Git</a>
        
    }

    @if (ViewBag.Message != null)
    {
        <p style="color: green">@ViewBag.Message</p>
    }
</div>
