@using WebApplication1.Models.Entity
@model List<Tbl_Musteriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>MÜŞTERİ ID</th>
            <th>MÜŞTERİ ADI</th>
            <th>MÜŞTERİ SOYADI</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
            <th>ALERT SİL</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var mstr in Model)
        {
            <tr>
                <td>@mstr.MusteriId</td>
                <td>@mstr.MusteriAd</td>
                <td>@mstr.MusteriSoyad</td>
                <td><a href="/Musteri/Sil/@mstr.MusteriId" class="btn btn-danger">SİL</a></td>
                <td><a href="/Musteri/MusteriGetir/@mstr.MusteriId" class="btn btn-success">GÜNCELLE</a></td>
                <td>@Html.ActionLink("SİL BUTONU", "Sil", new { id = mstr.MusteriId }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyor Musunuz?')" })</td>
            </tr>
        }
    </tbody>
</table>
<td><a href="/Musteri/YeniEkle" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a></td>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('table').DataTable({
            pageLength: 5,
            lengthMenu: [5, 10, 25, 50],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json"
            }
        });
    });
</script>